/*
* @Author: fxf
* @Date:   2018-01-06 21:59:41
* @Last Modified by:   fxf
* @Last Modified time: 2018-01-06 22:00:12
*/
.footer{
    margin-top: 20px;
    padding-bottom: 10px;
}
.footer .links{
    text-align: center;
    color: #666;
    line-height: 30px;
}
.footer .links .link{
    padding: 0 10px;
}
.footer .copyright{
    text-align: center;
    color: #666;
    line-height: 30px;
}